# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# Uploads and cache
uploads/
.qodo/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Other
*.log
