flask==3.1.2
langchain==0.3.27
langchain-community==0.3.29
langchain-openai==0.3.32
sentence-transformers==5.1.0
chromadb==1.0.20
openai==1.105.0
python-dotenv==1.1.1
markdown2==2.5.4
pypdf==6.0.0
torch==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
